<!-- Footer-->
<footer class="fixed-bottom " style="background-color: #000000; color: #000000;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#!" style="color: #ffffff;">Nosotros</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!" style="color: #ffffff;">Contacto</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!" style="color: #ffffff;">Términos de uso</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!" style="color: #ffffff;">Políticas de privacidad</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Coderhouse 2024 | Franco Marinelli</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!" style="color: #ffffff;"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!" style="color: #ffffff;"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!" style="color: #ffffff;"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
