{% load static %}
<!-- Navigation-->
<nav class="navbar navbar-dark bg-black static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'core:index' %}">
            <img src="{% static 'core/img/coderhouse.jpg' %}" alt="..." style="width: 200px; height: auto;">
        </a>
        <nav class="navbar navbar-expand-lg navbar-black bg-black ">
            <div class="container-fluid">
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="btn btn-dark text-warning" href="{% url 'clase:index' %}">Comisiones</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-dark text-bg-dark border border-dark text-warning ">{{ user.username }}</a>
                            </li>
                            <li class="nav-item">
                                <form action="{% url 'core:logout' %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-dark text-warning">Logout</button>
                                </form>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="btn btn-dark text-warning" href="{% url 'core:login' %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-dark text-warning" href="{% url 'core:register' %}">Crear cuenta</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        
        
    </div>
</nav>

