{% extends 'core/base.html' %}

{% block titulo %}
    Clases | Lista comisiones
{% endblock titulo %}

{% block body_title %}
    Lista
{% endblock body_title %}

{% block contenido %}

    <div style="margin-top: 20px;">
    <button style="background-color: blue;"><a href="{% url 'clase:index' %}" 
        style="color: white; text-decoration: none;">Volver</a></button>
    </div>

    {% for comision in comisiones %}
        <h1>{{ comision.nombre }} | {{ comision.curso }} | {{ comision.profesor }}</h1>
        <ol>
            {% for estudiante in comision.estudiante.all %}<li>{{ estudiante }}</li>{% endfor %}
        </ol>
    {% endfor %}

{% endblock contenido %}
