{% extends 'core/base.html' %}
{% block titulo %}
    Clases | Lista de Comisiones
{% endblock titulo %}
{% block body_title %}
    Clases - Lista de Comisiones: Eliminar
{% endblock body_title %}
{% block contenido %}

<div class="container py-3">
    <!-- Mensaje de confirmación -->
    <p class="fs-5 fst-italic">¿Confirma eliminar "{{ object.nombre }} | {{ object.curso }} | {{ object.profesor }}"?</p>

    <!-- Formulario de confirmación -->
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-dark text-warning">Confirmar</button>
    </form>

    <!-- Enlace Volver -->
    <div class="mt-3">
        <a href="{% url 'clase:clase_list' %}" class="btn btn-dark text-warning">Volver a la lista de comisiones</a>
    </div>
</div>

{% endblock contenido %}

