{% extends 'core/base.html' %}
{% block titulo %}
    Clase | Creación de Comisiones
{% endblock titulo %}

{% block body_title %}
        Clase - Creación de Comisiones
{% endblock body_title %}

{% block contenido %}
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button style="background-color: rgb(70, 70, 70); color: yellow;">Guardar</button>
    </form>
    <button style="background-color: rgb(70, 70, 70);"><a href="{% url 'clase:index' %}" style="color: rgb(255, 251, 0);  
        text-decoration: none;">Volver</a></button>
{% endblock contenido %}

