{% extends 'core/base.html' %}
{% block titulo %}
    Clases | Adición de Estudiantes
{% endblock titulo %}

{% block body_title %}
        Clases - Adición de Estudiantes
{% endblock body_title %}

{% block contenido %}
<div class="container py-3">
    <p>Ingresar nuevo estudiante y agregarlo en 'editar'</p>

    <form method="post">
        {% csrf_token %}
        <div class="table-responsive">
            <table>
                {{ form.as_table }}
            </table>
        </div>
        <button type="submit" class="btn btn-dark text-warning">Guardar</button>
    </form>

    <div class="mt-3">
        <a href="{% url 'clase:clase_list' %}" class="btn btn-dark text-warning">Volver</a>
    </div>
</div>

{% endblock contenido %}

