{% extends 'core/base.html' %}
{% block titulo %}
    Clases | Adición de Estudiantes
{% endblock titulo %}

{% block body_title %}
        Clases - Adición de Estudiantes
{% endblock body_title %}

{% block contenido %}
    <p>AÚN NO FUNCIONA</p>
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button style="background-color: rgb(70, 70, 70);"><a 
            style="color: rgb(255, 251, 0);  text-decoration: none;">Guardar</a></button>
    </form>
    <button style="background-color: rgb(70, 70, 70);"><a href="{% url 'clase:clase_list' %}" style="color: rgb(255, 251, 0);  
        text-decoration: none;">Volver</a></button>
{% endblock contenido %}

