{% extends 'core/base.html' %}

{% block titulo %}
    Comisiones | Lista de Comisiones
{% endblock titulo %}

{% block body_title %}
    Lista de Comisiones
{% endblock body_title %}

{% block contenido %}

<div class="container py-3">
    <div class="row">
        <div class="col-lg-6 mb-3">
            <form action="{% url 'clase:clase_list' %}" method="get" class="d-flex">
                <input type="text" name="busqueda" class="form-control me-2" placeholder="Buscar por curso o profesor...">
                <button type="submit" class="btn btn-dark text-warning ">Buscar</button>
            </form>
        </div>
        <div class="col-lg-6 text-end">
            <a href="{% url 'clase:index' %}" class="btn btn-dark text-warning ">Volver</a>
        </div>
    </div>

    <!-- Tabla de clases -->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="bg-dark text-warning ">
                <tr>
                    <th class="text-warning ">Nombre</th>
                    <th class="text-warning ">Curso</th>
                    <th class="text-warning ">Profesor</th>
                    <th class="text-warning ">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td class="text-warning">{{ object.nombre }}</td>
                        <td class="text-warning">{{ object.curso }}</td>
                        <td class="text-warning">{{ object.profesor }}</td>
                        <td>
                            <a href="{% url 'clase:detalle_estudiante' object.id %}" class="btn btn-success btn-sm text-dark ">Estudiantes</a>
                            <a href="{% url 'clase:clase_delete' object.id %}" class="btn btn-danger btn-sm text-dark ">Borrar</a>
                            <a href="{% url 'clase:clase_update' object.id %}" class="btn btn-warning btn-sm text-dark ">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock contenido %}
