{% extends 'core/base.html' %}
{% block titulo %}
    Clase | Creación de Comisiones
{% endblock titulo %}

{% block body_title %}
    {% if form.instance.pk %}
        Clase - Edición de Comisiones
    {% else %}
        Clase - Creación de Comisiones
    {% endif %}
        
{% endblock body_title %}

{% block contenido %}
<div class="container py-3">
    <form method="post">
        {% csrf_token %}
        <div >
            <table >
                {{ form.as_table }}
            </table>
        </div>
        <button type="submit" class="btn btn-dark text-warning">Guardar</button>
    </form>

    <div class="mt-3">
        <a href="{% url 'clase:index' %}" class="btn btn-dark text-warning">Volver</a>
    </div>
</div>

{% endblock contenido %}

