{% extends 'core/base.html' %}

{% block titulo %}
    Comisiones | Inicio
{% endblock titulo %}

{% block body_title %}
    Clases
{% endblock body_title %}

{% block contenido %}
<div class="container py-3">
    <div class="mb-3">
        <a href="{% url 'clase:clase_list' %}" class="btn btn-dark text-warning d-block mb-2">Lista de comisiones</a>
        <a href="{% url 'clase:clase_create' %}" class="btn btn-dark text-warning d-block">Creación de comisiones</a>
    </div>

    <div>
        <a href="{% url 'core:index' %}" class="btn btn-dark text-warning">Inicio</a>
    </div>
</div>
{% endblock contenido %}