{% extends 'core/base.html' %}

{% block titulo %}
    Nosotros
{% endblock titulo %}

{% block body_title %}
    <h1 class="titulo-principal">Franco Marinelli</h1>
{% endblock body_title %}

{% block contenido %}
    <div class="contenido">
        <p>
            ¡Hola a todos! Soy Franco, el fundador de esta página. Desde muy joven, 
            he sentido una pasión por la programación. A lo largo de los años, 
            he dedicado mi tiempo y energía a explorar este fascinante mundo, aprendiendo todo lo que puedo y 
            adquiriendo experiencia en Python.
        </p>
        <p>
            Mi objetivo al crear esta página es probar mis límites, proporcionando a nuestros visitantes 
            (profesores/tutores) una aprobación.
            Cuando no estoy trabajando en la página, me encanta ir al gimnasio. 
            Creo que es importante encontrar un equilibrio entre el trabajo y el tiempo libre.
        </p>
    </div>
{% endblock contenido %}
